<div class='selling-home'>
    <h1>Selling Home Page</h1>    
    <h3>Would you like to sell a new item?
        <%= link_to 'List Item', new_item_path %>
    </h3>
    <h3>Items for sale: <%= @active_user_items_count %> <%= link_to 'See Your Active Items', selling_path %>
    </h3>
    <h3>Items sold: <%= @count - @active_user_items_count.to_i%> <%= link_to 'See Your Sold Items', sellings_sold_path %>
    </h3>

</div>