<div class="login-div selling-index">
    <h1>Home Page for Selling</h1>
    <h3>
        <%= link_to 'Sell A New Item', new_item_path, class: 'white' %>
    </h3>
    <h4>
        You have <%= pluralize(@current_count, 'item') %>  <%= link_to 'for Sale', sellings_current_path, class: 'white' %>
        <br>
        You have <%= pluralize(@sold_count, 'items') %> <%= link_to 'Sold', sellings_sold_path, class: 'white' %>.
    </h4>
    </div>
</div>