<h1>The Items Page</h1>
<div>

    <% @items.each do |item| %>
        <div class="card" style="width: 40rem;">
            <%= image_tag src='question-mark.jpg', class: 'item-img' %>
            <div class="card-body">
                <h5 class="card-title"><%= item.title %></h5>
                <p class="card-text"><%= truncate(strip_tags(item.description.to_s), length: 80) %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">$<%= item.price %></li>
                <li class="list-group-item"><%= item.condition %></li>
                <li class="list-group-item"><%= item.set %></li>
            </ul>
            <div class="card-body card-buttons">
                <%= link_to 'View', item, class:"btn btn-primary btn-block btn-special" %>
                <a href="#" class="btn btn-success btn-block btn-special">Buy Item</a>
            </div>
        </div>

    <% end %>
    
</div>